@{
    ViewBag.Title = "Home Page";
}


    <div class="row">
        <div class="col-lg-12 col-offset-6 centered">
            <div class="center-block">
                <h1 class="home-intro">WELKOM BIJ ROCIt</h1>
                <div class="img-container"><img id="logo-image-home" src="@Url.Content("~/Content/Images/LogoROCit.png")" alt="Image" /></div>
                
                <br/>
                <div class="img-container"><img id="office-image-home" src="@Url.Content("~/Content/Images/office.png")" alt="Image" /></div>
                    <h4 class="home-intro">VOOR VRAGEN BEL GERUST</h4>
                    <h4 id="telephone-number" class="home-intro">010 – 674 28 19</h4>
                </div>
        </div>
        

    


</div>