################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjectAO-Wagenpark/.vs/ProjectAO-Wagenpark/v14/.suo
